.footer {
    height: 193px;
    background-color: #232323;
    &_item {
        height: 193px;
        width: 33%;
        &_text {
            font-size: 14px;
            margin: 0 93px 0 0;
            font-family: 'ptsansnarrow';
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.71;
            letter-spacing: normal;
            text-align: left;
            color: #fff;
        }
        &_title {
            width: 108px;
            height: 15px;
            margin: 0 275px 20px 110px;
            font-family: 'ptsansnarrow';
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.71;
            letter-spacing: normal;
            text-align: left;
            color: #fff;

        }    
        
        
    }
        




  }
