.logo {
    
    height: 500px;
    margin: 40px 0 0;
    padding: 92px 0 0;
    background: url(/img/index-bg.jpg) center center/cover no-repeat;;
    &_img  {
        margin: 0 auto;
        width: 370px;
        height: 154px;
      }
    &_list {
        display: flex;
        justify-content: space-around;
        padding-inline-start: 0px;
        &_item {
            display: flex;
            flex-direction: column;
            width: 250px;
            text-align: center;
            &_title {

                position: relative;
                margin: 80px 0 10px;
                font-size: 30.5px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.39;
                letter-spacing: normal;
                text-align: center;
                color: #f7f4f1;
                font-family: 'ptsansnarrow';
                }
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 4px;
                    left: calc(50% - 10px);
                    width: 20px;
                    height: 20px;
                    background-color: #f7f4f1;
                    transform: rotate(45deg);
                }
            &_text {
                margin: 80px 0 10px;
                font-size: 14px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.71;
                letter-spacing: normal;
                text-align: center;
                color: #f7f4f1;
                font-family: 'ptsansnarrow';
            }
            }
        }
    }

  