.news {
    position: absolute;
    top: 600px;
    &_content {
        position: absolute;
        
        width: 470px;
        height: 419px;
        margin: 83px 810px 36px;
        padding: 55px 80px 50px;
        background-color: #fff;
    }
        
  }