.news, .gallary, .contact, .follow {
    /* position: absolute;
    top: 600px; */
    &_content {
        /* position: absolute; */
        
        width: 340px;
        height: 330px;
        /* margin: 83px 810px 36px; */
        padding: 55px 40px 50px 80px;
        background-color: #fff;
        font-family: 'ptsansnarrow';
        &_title {
            
            font-family: 'ptsansnarrowbold';
            font-size: 30.5px;
            color: #000;
        }
        &_item {
            &_text {
                font-family: 'ptsansnarrowbold';
                font-size: 14px;
                margin-top: 20px;
                line-height: 1.71;
                color: #000;
                &_mod {
                    margin: 5px 12px;
                }
            }
            &_date {
                font-family: 'ptsansnarrowbold';
                
                font-size: 14px;
                line-height: 1.71;
                color: #000;
            }
            &_input {
                width: 110px;
                height: 20px;
                padding: 5px 10px;
                border: solid 2px #000101;
                font-family: 'ptsansnarrowbold';
            }
        }
        &_ul {
            width: 300px;
            display: flex;
            list-style-type: none;
            padding-inline-start: 0px;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0;
        }
        &_img {
            display: block;
            margin: 20px 8px;
        }
    }
}

