* {
  font-family: "ptsansnarrow";
}

html, body {
  margin: 0px;
  padding: 0px;
  background-color: #000;
}

.container {
  position: relative;
  max-width: 940px;
  margin: 0 auto;
}
.container_footer {
  display: flex;
  justify-content: space-between;
}
.container_lineup {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  /* top: -1200px; */
}
.container_linedown {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  /* top: -1200px; */
  margin: 80px auto;
}

.button {
  cursor: pointer;
  width: 140px;
  height: 44px;
  margin-top: 20px;
  margin-right: 20px;
  background-color: #000;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #fff;
  text-transform: uppercase;
}
.button:hover {
  background-color: rgb(67, 12, 12);
}
.button_max {
  width: 88%;
}
.button_cre {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.footer {
  height: 193px;
  background-color: #232323;
}
.footer_item_social_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  list-style-type: none;
}
.footer_item_social_list_item a {
  position: relative;
  display: block;
  width: 44px;
  height: 44px;
  background-color: #000000;
}
.footer_item_social_list_item a:hover {
  background-color: #fff;
}
.footer_item_social_list_item a:before {
  content: "";
  position: absolute;
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  background-position: center center;
}
.footer_item_social_list_item_vk a::before {
  background-image: url("../img/vk.svg");
}
.footer_item_social_list_item_vk a:hover::before {
  background-image: url("../img/vk-black.svg");
}
.footer_item_social_list_item_facebook a::before {
  background-image: url("../img/facebook.svg");
}
.footer_item_social_list_item_facebook a:hover::before {
  background-image: url("../img/facebook-black.svg");
}
.footer_item_social_list_item_inst a::before {
  background-image: url("../img/instagram.svg");
}
.footer_item_social_list_item_inst a:hover::before {
  background-image: url("../img/instagram-black.svg");
}
.footer_item_text {
  font-size: 14px;
  font-family: "ptsansnarrowbold";
  font-size: 14px;
  line-height: 1.71;
  color: #fff;
}
.footer_item_title {
  margin-top: 70px;
  font-family: "ptsansnarrowbold";
  font-size: 14px;
  text-align: center;
  color: #fff;
}
.footer_item_adr {
  margin-top: 70px;
  width: 380px;
}
.footer_item_cre {
  width: 380px;
}
.footer_item_soc {
  width: 150px;
}

.visually-hidden {
  display: none;
}

.header {
  height: 30px;
  margin: 0;
  padding: 0;
  top: 0;
}
.header_item_nav {
  display: inline-block;
  width: 88%;
}
.header_item_nav_list_ul {
  padding: 0;
}
.header_item_nav_list_ul_li {
  display: inline-flex;
  margin-right: 40px;
  font-size: 16.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  list-style-type: none;
  /* margin-top: 4%; */
  font-family: "ptsansnarrow";
}
.header_item_login {
  display: inline-block;
  margin-right: 50px;
  font-size: 16.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  list-style-type: none;
  margin-top: 25px;
  font-family: "ptsansnarrow";
  right: 0;
}

.logo {
  height: 500px;
  margin: 40px 0 0;
  padding: 92px 0 0;
  background: url(/img/index-bg.jpg) center center/cover no-repeat;
}
.logo_img {
  margin: 0 auto;
  width: 370px;
  height: 154px;
}
.logo_list {
  display: flex;
  justify-content: space-around;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}
.logo_list_item {
  display: flex;
  flex-direction: column;
  width: 250px;
  text-align: center;
}
.logo_list_item_title {
  position: relative;
  margin: 80px 0 10px;
  font-size: 30.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: center;
  color: #f7f4f1;
  font-family: "ptsansnarrow";
}
.logo_list_item::after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: calc(50% - 10px);
  width: 20px;
  height: 20px;
  background-color: #f7f4f1;
  transform: rotate(45deg);
}
.logo_list_item_text {
  margin: 80px 0 10px;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #f7f4f1;
  font-family: "ptsansnarrow";
}

.news, .gallary, .contact, .follow {
  /* position: absolute;
  top: 600px; */
}
.news_content, .gallary_content, .contact_content, .follow_content {
  /* position: absolute; */
  width: 340px;
  height: 330px;
  /* margin: 83px 810px 36px; */
  padding: 55px 40px 50px 80px;
  background-color: #fff;
  font-family: "ptsansnarrow";
}
.news_content_title, .gallary_content_title, .contact_content_title, .follow_content_title {
  font-family: "ptsansnarrowbold";
  font-size: 30.5px;
  color: #000;
}
.news_content_item_text, .gallary_content_item_text, .contact_content_item_text, .follow_content_item_text {
  font-family: "ptsansnarrowbold";
  font-size: 14px;
  margin-top: 20px;
  line-height: 1.71;
  color: #000;
}
.news_content_item_text_mod, .gallary_content_item_text_mod, .contact_content_item_text_mod, .follow_content_item_text_mod {
  margin: 5px 12px;
}
.news_content_item_date, .gallary_content_item_date, .contact_content_item_date, .follow_content_item_date {
  font-family: "ptsansnarrowbold";
  font-size: 14px;
  line-height: 1.71;
  color: #000;
}
.news_content_item_input, .gallary_content_item_input, .contact_content_item_input, .follow_content_item_input {
  width: 110px;
  height: 20px;
  padding: 5px 10px;
  border: solid 2px #000101;
  font-family: "ptsansnarrowbold";
}
.news_content_ul, .gallary_content_ul, .contact_content_ul, .follow_content_ul {
  width: 300px;
  display: flex;
  list-style-type: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}
.news_content_img, .gallary_content_img, .contact_content_img, .follow_content_img {
  display: block;
  margin: 20px 8px;
}

@font-face {
  font-family: "ptsansnarrow";
  src: url(/fonts/web/ptsansnarrow.woff) format("woff"), url(/fonts/web/ptsansnarrow.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "ptsansnarrowbold";
  src: url(/fonts/web/ptsansnarrowbold.woff) format("woff"), url(/fonts/web/ptsansnarrowbold.woff2) format("woff2");
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */