* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

html, body {
    margin: 0px;
    padding: 0px;
    background-color: #000;
}

.container {
    position: relative;
    max-width: 940px;
    margin: 0 auto;
}



@import 'blocks/contact';
@import 'blocks/follow';
@import 'blocks/footer';
@import 'blocks/header';
@import 'blocks/logo';
@import 'blocks/news';




@font-face {
    font-family: 'ptsansnarrow';
    src: url(/fonts/web/ptsansnarrow.woff) format('woff'), url(/fonts/web/ptsansnarrow.woff2) format('woff2');
    font-weight: 400;
  }
  
  
  @font-face {
    font-family: 'ptsansnarrowbold';
    src: url(/fonts/web/ptsansnarrowbold.woff) format('woff'), url(/fonts/web/ptsansnarrowbold.woff2) format('woff2');
    font-weight: 700;
  }