* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

html, body {
    margin: 0px;
    padding: 0px;
    background-color: #000;
}

.container {
    position: relative;
    max-width: 940px;
    margin: 0 auto;
}



@import 'blocks/contact';
@import 'blocks/follow';
@import 'blocks/footer';
@import 'blocks/header';
@import 'blocks/logo';
@import 'blocks/news';




